# **MLOps_proyect**

## Proceso ETL

Carga de Librerias a utilizar

In [ ]:
import os
import sys
import pandas as pd
import numpy as np
import warnings
import re
import json
import pyarrow

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Omitimos los mensajes de error

In [ ]:
warnings.filterwarnings("ignore")

Carga de Dataset de Servicios

In [ ]:
dfa= pd.read_csv(r'/content/drive/My Drive/etl/amazon_prime_titles.csv')
dfd= pd.read_csv(r'/content/drive/My Drive/etl/disney_plus_titles.csv')
dfh= pd.read_csv(r'/content/drive/My Drive/etl/hulu_titles.csv')
dfn= pd.read_csv(r'/content/drive/My Drive/etl/netflix_titles.csv')

Generamos una visualización de  las primeras 5 lineas de cada Dataset para ver como vienen los datos

In [ ]:
dfa.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [ ]:
dfd.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [ ]:
dfh.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [ ]:
dfn.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

Revisamos la forma de cada dataset

In [ ]:
print(dfa.shape)
print(dfd.shape)
print(dfh.shape)
print(dfn.shape)

(9668, 12)
(1450, 12)
(3073, 12)
(8807, 12)

Los dataset proporcionados tiene la misma cantidad de columnas en el mismo orden.
Se procede a aplicar el primer cambio solicitado a cada dataset.

A continuación se agrega la columna 'id' que sera la suma de la primer letra del nombre de  cada Dataset + la columna 'show_id'

In [ ]:
dfa.insert(0, 'id', 'a' + dfa['show_id'])
dfd.insert(0, 'id', 'd' + dfd['show_id'])
dfh.insert(0, 'id', 'h' + dfh['show_id'])
dfn.insert(0, 'id', 'n' + dfn['show_id'])

Revisamos tipo de datos de la columna 'id'

In [ ]:
print(dfa['id'].dtype)

object

Agregaremos una columnada a todos los dataset que se llamara 'Platform' para que contenga el nombre de la platadorma

In [ ]:
dfa['platform'] = 'amazon'
dfd['platform'] = 'disney'
dfh['platform'] = 'hulu'
dfn['platform'] = 'netflix'

Movemos la columna 'platform' creada a continuación de la columna 'show_id' para todos los dataset

In [ ]:
dfa.insert(2,'platform', dfa.pop('platform'))
dfd.insert(2,'platform', dfd.pop('platform'))
dfh.insert(2,'platform', dfh.pop('platform'))
dfn.insert(2,'platform', dfn.pop('platform'))

In [ ]:
dfh.head()

,id,show_id,platform,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,hs1,s1,hulu,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,hs2,s2,hulu,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,hs3,s3,hulu,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,hs4,s4,hulu,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,hs5,s5,hulu,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

Nos damos cuenta que en el dataset de dfh(hulu), los valores de duration estan en rating

In [ ]:
print(dfh.rating.unique())

['TV-MA' nan 'PG-13' 'R' 'TV-14' 'PG' 'TV-PG' 'NOT RATED' 'G' 'TV-G'
 '2 Seasons' 'TV-Y' '93 min' '4 Seasons' 'TV-Y7' '136 min' '91 min'
 '85 min' '98 min' '89 min' '94 min' '86 min' '3 Seasons' '121 min'
 '88 min' '101 min' '1 Season' '83 min' '100 min' '95 min' '92 min'
 '96 min' '109 min' '99 min' '75 min' '87 min' '67 min' '104 min'
 '107 min' '84 min' '103 min' '105 min' '119 min' '114 min' '82 min'
 '90 min' '130 min' '110 min' '80 min' '6 Seasons' '97 min' '111 min'
 '81 min' '49 min' '45 min' '41 min' '73 min' '40 min' '36 min' '39 min'
 '34 min' '47 min' '65 min' '37 min' '78 min' '102 min' '129 min'
 '115 min' '112 min' 'NR' '61 min' '106 min' '76 min' '77 min' '79 min'
 '157 min' '28 min' '64 min' '7 min' '5 min' '6 min' '127 min' '142 min'
 '108 min' '57 min' '118 min' '116 min' '12 Seasons' '71 min']

Se crea la columna 'columna_auxiliar' para mover los datos se se encuentran rating a duration

In [ ]:
dfh['columna_auxiliar'] = dfh['rating'][pd.notnull(dfh['rating']) & dfh['rating'].str[0].str.isdigit()]

Se reemplazan los valores no númericos por Nan

In [ ]:
dfh['rating'] = dfh['rating'].where(pd.isna(dfh['rating']) | ~dfh['rating'].astype(str).str[0].str.isdigit(), np.nan)

Movemos los valores no Nan a la columna 'columna_auxiliar'

In [ ]:
dfh['duration'] = dfh['columna_auxiliar'].fillna(dfh['duration'])

Elimino la columa 'columna_auxiliar'

In [ ]:
dfh = dfh.drop('columna_auxiliar', axis=1)

In [ ]:
print(dfh.rating.unique())

['TV-MA' nan 'PG-13' 'R' 'TV-14' 'PG' 'TV-PG' 'NOT RATED' 'G' 'TV-G'
 'TV-Y' 'TV-Y7' 'NR']

Se Revisan los demás dataset para evaluar si tiene el mismo problema que en 'hulu'

In [ ]:
dfa.rating.unique()

array([nan, '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'G',
       'PG', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE'], dtype=object)

In [ ]:
dfd.rating.unique()

array(['TV-G', 'PG', 'TV-PG', nan, 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV'], dtype=object)

En el dataset 'dfn' debemos implementar la misma solucion que para 'dfh'

In [ ]:
dfn.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

Creamos una columna llamada 'columna auxiliar en el dataset 'dfn' para  generar el movimiento de datos a la columna 'rating'

In [ ]:
dfn['columna_auxiliar'] = dfn['rating'][pd.notnull(dfn['rating']) & dfn['rating'].str[0].str.isdigit()]

In [ ]:
dfn.columna_auxiliar.unique()

array([nan, '74 min', '84 min', '66 min'], dtype=object)

Se reemplazan los valores no númericos por Nan

In [ ]:
dfn['rating'] = dfn['rating'].where(pd.isna(dfn['rating']) | ~dfn['rating'].astype(str).str[0].str.isdigit(), np.nan)

La columna 'rating' queda conformada solo por los valores correspondientes

In [ ]:
dfn.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', nan, 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

Procedemos a mover los valores de la columna 'columna_auxiliar' a la columna 'duration'

In [ ]:
dfn['duration'] = dfn['columna_auxiliar'].fillna(dfn['duration'])

Procedemos a eliminar la columna 'columna_auxiliar' que ya no es de utilidad

In [ ]:
dfn = dfn.drop('columna_auxiliar', axis=1)

Verificamos que los 4 dataset tengan la misma cantidad de columnas

In [ ]:
num_columnas1 = dfa.shape[1]
num_columnas2 = dfd.shape[1]
num_columnas3 = dfh.shape[1]
num_columnas4 = dfn.shape[1]

print("dfa tiene ", num_columnas1, "columnas.")
print("dfd tiene ", num_columnas2, "columnas.")
print("dfh tiene ", num_columnas3, "columnas.")
print("dfn tiene ", num_columnas4, "columnas.")

dfa tiene  14 columnas.
dfd tiene  14 columnas.
dfh tiene  14 columnas.
dfn tiene  14 columnas.

In [ ]:
print(dfa.shape)
print(dfd.shape)
print(dfh.shape)
print(dfn.shape)

(9668, 14)
(1450, 14)
(3073, 14)
(8807, 14)

Cambiamos todos los textos a minúsculas dentro de los dataset, se relaliza en este momento ya que es más rápido hacerlo por separado

In [ ]:
dfa = dfa.applymap(lambda s: s.lower() if type(s) == str else s)
dfd = dfd.applymap(lambda s: s.lower() if type(s) == str else s)
dfh = dfh.applymap(lambda s: s.lower() if type(s) == str else s)
dfn = dfn.applymap(lambda s: s.lower() if type(s) == str else s)

Comprobamos que el cambio haya quedado realizado de manera correcta

In [ ]:
dfa.head()

,id,show_id,platform,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,"march 30, 2021",2014,NaN,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,"march 30, 2021",2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,s3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,"march 30, 2021",2017,NaN,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,s4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,"march 30, 2021",2014,NaN,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,s5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,"march 30, 2021",1989,NaN,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...

Se generar una concatenación de los 4 Dataset de servicios con los que venimos, de ahora en más el resultante sera 'Servicios'

In [ ]:
dfservicios = pd.concat([dfa, dfd, dfh,dfn],ignore_index=True)

Revisamos que haya quedado bien la concatenación

In [ ]:
dfservicios.shape

(22998, 14)

Hacemos un conteo de los valores dentro de 'rating'

In [ ]:
print(dfservicios['rating'].value_counts(dropna=False))

tv-ma        3675
tv-14        3138
r            2154
13+          2117
tv-pg        1654
16+          1547
all          1268
18+          1243
NaN          1159
pg-13        1112
pg            881
tv-g          767
tv-y7         550
tv-y          462
g             405
7+            385
nr            304
tv-nr         105
unrated        33
tv-y7-fv       19
nc-17           6
ages_18_        3
not_rate        3
ur              3
ages_16_        2
16              1
all_ages        1
not rated       1
Name: rating, dtype: int64

verificamos cuantos corresponden a nulos y los sumamos

In [ ]:
print(dfservicios['rating'].isnull().sum())

1159

Contamos los valores que contienen 'G' dentro de 'rating'

In [ ]:
print(dfservicios['rating'].value_counts()['g'])

405

Completamos los vacios con 'G' dentro la columna'rating'

In [ ]:
dfservicios['rating'] = dfservicios['rating'].fillna('g')

In [ ]:
print(dfservicios['rating'].value_counts(dropna=False))

tv-ma        3675
tv-14        3138
r            2154
13+          2117
tv-pg        1654
g            1564
16+          1547
all          1268
18+          1243
pg-13        1112
pg            881
tv-g          767
tv-y7         550
tv-y          462
7+            385
nr            304
tv-nr         105
unrated        33
tv-y7-fv       19
nc-17           6
ages_18_        3
not_rate        3
ur              3
ages_16_        2
16              1
all_ages        1
not rated       1
Name: rating, dtype: int64

In [ ]:
print(dfservicios['rating'].value_counts()['g'])

1564

Hacemos una inspección de la columna 'release_year' para determinar el formato de la columna

In [ ]:
print(dfservicios['release_year'].value_counts())

2019    2470
2020    2406
2021    2385
2018    2105
2017    1892
        ...
1923       2
1922       2
1924       1
1927       1
1928       1
Name: release_year, Length: 101, dtype: int64

In [ ]:
dfservicios.rename(columns={'release_year': 'year'}, inplace=True)

In [ ]:
dfservicios.sample(3)

,id,show_id,platform,type,title,director,cast,country,date_added,year,rating,duration,listed_in,description
17606,ns3416,s3416,netflix,tv show,the unlisted,NaN,"vrund rao, ved rao, abigail adriano, miah madd...",australia,"october 17, 2019",2019,tv-pg,1 season,"kids' tv, tv thrillers",when they learn of a secret plot to track and ...
19670,ns5480,s5480,netflix,tv show,the keepers,NaN,NaN,united states,"may 19, 2017",2017,tv-ma,1 season,"crime tv shows, docuseries, tv mysteries",this docuseries examines the decades-old murde...
2247,as2248,s2248,amazon,movie,harry & meghan: a very modern romance,"adrian munsey, vance goodwin","anthony seldon, richard kay, penny junior, kat...",NaN,NaN,2018,13+,52 min,"documentary, special interest",meghan markle and prince harry are to marry. w...

Hacemos una inspección de la columna 'date_added' para determinar el formato de la columna

Modificamos el tipo de dato de la columna 'date_added'

In [ ]:
dfservicios['date_added'] = pd.to_datetime(dfservicios['date_added'])

In [ ]:
dfservicios.head()

,id,show_id,platform,type,title,director,cast,country,date_added,year,rating,duration,listed_in,description
0,as1,s1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,s3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,s4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,s5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...

Dvididimos la columna duration para convertirlo en dos campos: duration_int y duration_type.
duration_int será un integer
duration_type sera string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [ ]:
dfservicios[['duration_int', 'duration_type']] = dfservicios['duration'].str.split(' ', 1, expand=True)

Hacemos un conteo de valores únicos dentro de la columna 'duration_int'

In [ ]:
dfservicios['duration_int'].unique

<bound method Series.unique of 0        113
1        110
2         74
3         69
4         45
        ...
22993    158
22994      2
22995     88
22996     88
22997    111
Name: duration_int, Length: 22998, dtype: object>

Debemos rellenar los valores nulos con 0 en la columna 'duration_int' para poder cambiar el tipo de dato a int

In [ ]:

dfservicios['duration_int'] = dfservicios['duration_int'].fillna(0)

Ahora cambiamos en la  columna 'duration_int' el tipo de dato a int

In [ ]:
dfservicios['duration_int'] = dfservicios['duration_int'].astype(int)

Revisamos los tipos de valores para columna

In [ ]:
print(dfservicios.dtypes)

id                       object
show_id                  object
platform                 object
type                     object
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
year                      int64
rating                   object
duration                 object
listed_in                object
description              object
duration_int              int64
duration_type            object
dtype: object

In [ ]:
dfservicios['duration_int'].unique

<bound method Series.unique of 0        113
1        110
2         74
3         69
4         45
        ...
22993    158
22994      2
22995     88
22996     88
22997    111
Name: duration_int, Length: 22998, dtype: int64>

Reemplazamos en la columna 'duration_type' el valor seasons por season

In [ ]:
dfservicios['duration_type']=dfservicios['duration_type'].replace('seasons', 'season')

Eliminamos espacios

In [ ]:
dfservicios['duration_type'] = dfservicios['duration_type'].str.strip()

Verificamos la transformación

In [ ]:
dfservicios['duration_type'].unique()

array(['min', 'season', nan], dtype=object)

In [ ]:
dfservicios.sample(5)

,id,show_id,platform,type,title,director,cast,country,date_added,year,rating,duration,listed_in,description,duration_int,duration_type
16151,ns1961,s1961,netflix,movie,kiss the ground,"joshua tickell, rebecca harrell tickell",woody harrelson,united states,2020-09-22,2020,tv-g,85 min,documentaries,science experts and celebrity activists unpack...,85,min
11229,hs112,s112,hulu,movie,queen of the damned,NaN,NaN,NaN,2021-10-01,2002,r,101 min,horror,"after a decades-long slumber, the vampire lest...",101,min
11974,hs857,s857,hulu,movie,collective,NaN,NaN,NaN,2021-03-25,2019,g,114 min,documentaries,"collective is a gripping, real-time docu-thril...",114,min
19362,ns5172,s5172,netflix,movie,deray davis: how to act black,marcus raboy,deray davis,united states,2017-11-14,2017,tv-ma,66 min,stand-up comedy,dynamic comic deray davis hits the stage like ...,66,min
19585,ns5395,s5395,netflix,movie,hans teeuwen: real rancour,doesjka van hoogdalem,hans teeuwen,netherlands,2017-07-01,2018,tv-ma,86 min,stand-up comedy,comedian hans teeuwen rebels against political...,86,min

##Carga de Dataset de Reviews de clientes

In [ ]:
df1= pd.read_csv(r'/content/drive/My Drive/etl/ratings/1.csv')
df2= pd.read_csv(r'/content/drive/My Drive/etl/ratings/2.csv')
df3= pd.read_csv(r'/content/drive/My Drive/etl/ratings/3.csv')
df4= pd.read_csv(r'/content/drive/My Drive/etl/ratings/4.csv')
df5= pd.read_csv(r'/content/drive/My Drive/etl/ratings/5.csv')
df6= pd.read_csv(r'/content/drive/My Drive/etl/ratings/6.csv')
df7= pd.read_csv(r'/content/drive/My Drive/etl/ratings/7.csv')
df8= pd.read_csv(r'/content/drive/My Drive/etl/ratings/8.csv')

Generamos una vista para ver la de cada uno de los dataset importados

In [ ]:
print('Tamaño de df1:', df1.shape)
print('Tamaño de df2:', df2.shape)
print('Tamaño de df3:', df3.shape)
print('Tamaño de df4:', df4.shape)
print('Tamaño de df5:', df5.shape)
print('Tamaño de df6:', df6.shape)
print('Tamaño de df7:', df7.shape)
print('Tamaño de df8:', df8.shape)

Tamaño de df1: (1500000, 4)
Tamaño de df2: (1500000, 4)
Tamaño de df3: (1500000, 4)
Tamaño de df4: (1500000, 4)
Tamaño de df5: (1500000, 4)
Tamaño de df6: (1500000, 4)
Tamaño de df7: (524289, 4)
Tamaño de df8: (1500000, 4)

Cambiar de mayusculas a minusculas

In [ ]:

df1 = df1.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df2 = df2.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df3 = df3.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df4 = df4.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df5 = df5.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df6 = df6.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df7 = df7.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df8 = df8.apply(lambda x: x.str.lower() if x.dtype == "object" else x)

Se generar una concatenación de los Dataset de Reviews, de ahora en más el resultante sera Reviews

In [ ]:
dfreviews = pd.concat([df1, df2, df3,df4,df5,df6,df7,df8],ignore_index=True)

In [ ]:
dfreviews.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

Renombramos la columna 'rating a 'score

In [ ]:
dfreviews.shape

(11024289, 4)

In [ ]:
dfreviews.userId.unique()

array([     1,      2,      3, ..., 124378, 124379, 124380])

In [ ]:
dfreviews.columns

Index(['userId', 'rating', 'timestamp', 'movieId'], dtype='object')

In [ ]:
dfreviews = dfreviews.rename(columns={'rating': 'score'})

Contar la cantidad de valores por grupo de las 2 primeras letras del código dentro de la columna 'movieId'
para asegurar que no haya otras siglas iniciales diferentes a las que se necesitan

In [ ]:

dfreviews['grupo2'] = dfreviews['movieId'].apply(lambda x: re.findall('^[a-zA-Z]{2}', x)[0])
conteo2 = dfreviews['grupo2'].value_counts()

Revisamos el resultado

In [ ]:
print(conteo2)

as    4631850
ns    4224861
hs    1472788
ds     694790
Name: grupo2, dtype: int64

Renombramos la columna 'movieId' con el nombre 'id'

In [ ]:
dfreviews = dfreviews.rename(columns={'movieId': 'id'})

In [ ]:
dfreviews.head()

   userId  score   timestamp      id grupo2
0       1    1.0  1425941529   as680     as
1       1    4.5  1425942435  ns2186     ns
2       1    5.0  1425941523  hs2381     hs
3       1    5.0  1425941546  ns3663     ns
4       1    5.0  1425941556  as9500     as

Borramos la columna 'grupo2'

In [ ]:
dfreviews = dfreviews.drop('grupo2', axis=1)

Convertirtimos la columna "timestamp" a tipo datetime y mostrar solo el día

In [ ]:

dfreviews['timestamp'] = pd.to_datetime(dfreviews['timestamp'], unit='s').dt.strftime('%Y-%m-%d')

Convertir la columna "timestamp" a tipo datetime

In [ ]:
dfreviews['timestamp'] = pd.to_datetime(dfreviews['timestamp'])

Calculamos el promedio de la columna "score" para cada elemento único de la columna "id"

In [ ]:

promedio = dfreviews.groupby("id")["score"].mean()
promedio_redondeado = promedio.round(2)
nuevos_datos = pd.DataFrame({'id': promedio_redondeado.index, 'Scored': promedio_redondeado.values})

In [ ]:
nuevos_datos.head(1)

    id  Scored
0  as1    3.47

Creamos una columna que contiene el promedio de la columna "score" para cada grupo definido por la columna "id"

In [ ]:
dfreviews.groupby('id')['score'].transform('mean')

0           3.549127
1           3.556886
2           3.604124
3           3.547085
4           3.532158
              ...
11024284    3.593275
11024285    3.536561
11024286    3.454183
11024287    3.620278
11024288    3.565476
Name: score, Length: 11024289, dtype: float64

In [ ]:
nuevos_datos.shape

(22998, 2)

In [ ]:
nuevos_datos.head(5)

       id  Scored
0     as1    3.47
1    as10    3.44
2   as100    3.61
3  as1000    3.56
4  as1001    3.59

In [ ]:
nuevos_datos.Scored.unique()

array([3.47, 3.44, 3.61, 3.56, 3.59, 3.6 , 3.51, 3.48, 3.58, 3.45, 3.5 ,
       3.53, 3.41, 3.62, 3.49, 3.52, 3.57, 3.42, 3.54, 3.63, 3.43, 3.64,
       3.55, 3.46, 3.65, 3.67, 3.68, 3.66, 3.39, 3.69, 3.7 , 3.4 , 3.35,
       3.37, 3.38, 3.71, 3.34, 3.72])

In [ ]:
nuevos_datos.to_parquet('nuevos_datos.parquet')

In [ ]:
dfreviews.score.unique()

array([1. , 4.5, 5. , 4. , 3.5, 2.5, 0.5, 3. , 2. , 1.5])

In [ ]:
df_servicios_final= pd.merge(dfservicios, nuevos_datos, on='id')

In [ ]:
df_servicios_final.head(5)

,id,show_id,platform,type,title,director,cast,country,date_added,year,rating,duration,listed_in,description,duration_int,duration_type,Scored
0,as1,s1,amazon,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min,3.47
1,as2,s2,amazon,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min,3.55
2,as3,s3,amazon,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min,3.50
3,as4,s4,amazon,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69,min,3.54
4,as5,s5,amazon,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min,3.48

Revisamos el dataset df_servicios_final que sera el usado dentro de las consultas en fastapi

In [ ]:
df_servicios_final.shape

(22998, 17)

In [ ]:
df_servicios_final.sample(5)

,id,show_id,platform,type,title,director,cast,country,date_added,year,rating,duration,listed_in,description,duration_int,duration_type,Scored
13414,hs2297,s2297,hulu,tv show,kaguya-sama: love is war,NaN,NaN,NaN,2019-01-12,2019,tv-14,1 season,"anime, comedy, romance",from a good family? check! a good personality?...,1,season,3.52
5094,as5095,s5095,amazon,movie,the buddha,david grubin,"blair brown, richard gere",NaN,NaT,2010,g,113 min,"documentary, special interest","the story of the life of the buddha, an indian...",113,min,3.51
22037,ns7847,s7847,netflix,movie,red trees,marina willer,tim piggott-smith,united kingdom,2018-03-24,2017,tv-pg,80 min,"documentaries, international movies",a documentarian details her jewish family's es...,80,min,3.55
13687,hs2570,s2570,hulu,tv show,"pinky, elmyra & the brain",NaN,NaN,united states,2018-01-04,1998,tv-y7,1 season,"adventure, kids",the popular animated characters pinky and the ...,1,season,3.46
13847,hs2730,s2730,hulu,tv show,boruto: naruto next generations,NaN,NaN,japan,2017-04-12,2017,tv-ma,1 season,"action, adventure, anime",the life of the shinobi is beginning to change...,1,season,3.53

In [ ]:
df_servicios_final.columns

Index(['id', 'show_id', 'platform', 'type', 'title', 'director', 'cast',
       'country', 'date_added', 'year', 'rating', 'duration', 'listed_in',
       'description', 'duration_int', 'duration_type', 'Scored'],
      dtype='object')

 Creamos una columna nueva para modificar los valores de la columna 'duration_type'

In [ ]:
num_duplicados = df_servicios_final.duplicated().sum()
print("Hay", num_duplicados, "valores duplicados en el conjunto de datos.")

Hay 0 valores duplicados en el conjunto de datos.

In [ ]:
df_servicios_final.sample(5)

,id,show_id,platform,type,title,director,cast,country,date_added,year,rating,duration,listed_in,description,duration_int,duration_type,Scored
5418,as5419,s5419,amazon,movie,monarch,john walsh,"t.p. mckenna, jean marsh, peter miles, james c...",NaN,NaT,2000,16+,87 min,drama,"an injured king, henry viii, is forced to take...",87,min,3.55
4823,as4824,s4824,amazon,movie,sprinter,storm saulter,"dale elliott, lorraine toussaint, david alan g...",NaN,NaT,2018,13+,112 min,"drama, sports",a jamaican teen who is burdened by an unstable...,112,min,3.55
15074,ns884,s884,netflix,tv show,"love, death & robots",NaN,"topher grace, mary elizabeth winstead, gary co...",united states,2021-05-14,2021,tv-ma,2 seasons,"tv action & adventure, tv horror, tv sci-fi & ...","terrifying creatures, wicked surprises and dar...",2,season,3.56
13655,hs2538,s2538,hulu,movie,indy 500,NaN,NaN,NaN,2018-03-02,2018,tv-g,NaN,sports,indianapolis 500 on demand: relive all of the ...,0,NaN,3.57
17068,ns2878,s2878,netflix,tv show,six windows in the desert,"ali kalthami, meshal aljaser, faris godus, moh...","moayad alnefaie, mohammed alhamdan, citi bet b...",saudi arabia,2020-02-27,2020,tv-14,1 season,tv shows,from a theatre play to the aftermath of a plan...,1,season,3.54

###Creamos un archivo .csv y un .parket para exportar a la Api, luego tomaremos la decisión de cual utlizar

In [ ]:
df_servicios_final.to_csv('df_servicios_final.csv')

In [ ]:
df_servicios_final.to_parquet('df_servicios_final.parquet')

Generamos un merge de el dataset dfreviews con el dataset dfservicios utilizando la columna 'id'

In [ ]:
df_unico= pd.merge(dfreviews,df_servicios_final, on='id')

In [ ]:
df_unico.shape

(11024289, 20)

In [ ]:
df_unico.head(5)

,userId,score,timestamp,id,show_id,platform,type,title,director,cast,country,date_added,year,rating,duration,listed_in,description,duration_int,duration_type,Scored
0,1,1.0,2015-03-09,as680,s680,amazon,tv show,the english civil war,NaN,robert whelan,NaN,NaT,2019,13+,1 season,"documentary, special interest",a nation divided. it was a time of great bitte...,1,season,3.55
1,583,4.5,2005-04-08,as680,s680,amazon,tv show,the english civil war,NaN,robert whelan,NaN,NaT,2019,13+,1 season,"documentary, special interest",a nation divided. it was a time of great bitte...,1,season,3.55
2,765,5.0,1998-03-12,as680,s680,amazon,tv show,the english civil war,NaN,robert whelan,NaN,NaT,2019,13+,1 season,"documentary, special interest",a nation divided. it was a time of great bitte...,1,season,3.55
3,2116,3.0,1996-07-01,as680,s680,amazon,tv show,the english civil war,NaN,robert whelan,NaN,NaT,2019,13+,1 season,"documentary, special interest",a nation divided. it was a time of great bitte...,1,season,3.55
4,2143,3.0,2015-06-23,as680,s680,amazon,tv show,the english civil war,NaN,robert whelan,NaN,NaT,2019,13+,1 season,"documentary, special interest",a nation divided. it was a time of great bitte...,1,season,3.55

In [ ]:
print(df_unico.dtypes)

userId                    int64
score                   float64
timestamp        datetime64[ns]
id                       object
show_id                  object
platform                 object
type                     object
title                    object
director                 object
cast                     object
country                  object
date_added       datetime64[ns]
year                      int64
rating                   object
duration                 object
listed_in                object
description              object
duration_int              int64
duration_type            object
Scored                  float64
dtype: object

## Creamos un archivo del dataset que utilizaremos en el Eda en el notebook

## MLOps_EDA

In [ ]:
df_unico.to_parquet('df_unico.parquet')